$colormenu: #262626;
$color-w: white;
$color-b: #eaeaea;
$color-r:rgba(218, 15, 15, 0.644);
$color-rs: red;
$color-v: rgba(57, 0, 214, 0.507);
$nav-b: #333;



//Colors categories
$color-bg: violet;
$button-blue: rgba(4, 62, 255, 0.911);
$button-hov: rgb(4, 63, 255);
$color-g: rgb(28, 141, 28);
$color-gs: rgb(24, 233, 24);
